@use '../../../style/variables.scss' as v;
@use '../../../style/mixins.scss' as *;

.list {
  border-radius: 8px;
  box-shadow: 0 0 6px 2px rgba(34, 34, 34, 0.15);
  height: calc(100vh - 270px);
  overflow-x: auto;
  padding: rem(10px);

  @include media('>=1150px') {
    width: 300px;
  }

  .item {
    align-items: center;

    border-bottom: 1px solid rgba($color: v.$brand-grey, $alpha: 0.2);
    color: v.$brand-black;
    cursor: pointer;
    display: flex;
    font-family: v.$font-medium;
    padding: rem(7px) 0;
    text-decoration: none;

    @include media('>=1150px') {
      padding: rem(7px) rem(20px);
    }

    img {
      margin-right: rem(10px);
      width: rem(44px);
    }
  }
}
