@use '../../../style/variables.scss' as *;
@use '../../../style/mixins.scss' as *;

.card {
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 0 6px 2px rgba(34, 34, 34, 0.15);
  cursor: pointer;
  display: flex;
  height: rem(100px);
  padding: rem(16px);
  width: 100%;
  &.disabled {
    background-color: rgba(0, 0, 0, 0.03);
  }
  img {
    border-radius: 8px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    width: 60px;
  }
  .title {
    font-size: rem(18px);
    line-height: rem(22px);
    margin-left: rem(14px);
  }
}
