@font-face {
  font-display: swap;
  font-family: 'Excellence Extra Bold';
  font-style: normal;
  src: url('../assets/fonts/Excellence/Excellence_In_Motion_Black_V5_h.ttf')
    format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Excellence Bold';
  font-style: normal;
  src: url('../assets/fonts/Excellence/Excellence_In_Motion_Bold_V5_h.ttf')
    format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Excellence Medium';
  font-style: normal;
  src: url('../assets/fonts/Excellence/Excellence_In_Motion_Medium_V5_h.ttf')
    format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Excellence Regular';
  font-style: normal;
  src: url('../assets/fonts/Excellence/Excellence_In_Motion_Regular_V5_h.ttf')
    format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Excellence Thin';
  font-style: normal;
  src: url('../assets/fonts/Excellence/Excellence_In_Motion_Thin_V5_h.ttf')
    format('truetype');
}
